.container {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  background-color: lightgray;
  text-align: center;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 20px;
  padding: 20px 0;
}

.taskList{
  margin: 0;
  padding: 0;
}